<button class="hamburger" (click)="toggleSidebar()">☰</button>

<div class="sidebar-overlay" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>

<nav class="sidebar" [class.open]="isSidebarOpen">
  <div class="logo">
    <div class="logo-icon"></div>
    <h2 style="cursor: pointer" (click)="navigateToLogin()">
      <span>Prisma</span>
    </h2>

    <app-notification
      [notifications]="notifications"
      [unreadCount]="unreadCount"
      (markAsReadEmitter)="onMarkAsRead($event)"
    />
  </div>

  <ul class="nav-links">
    @for (item of menuItems; track item.value) {
      <li [class.active]="item.active" (click)="seleccionarItem(item)">
        <div class="icon-placeholder"></div>
        <span>{{ item.label }}</span>
      </li>
    }
  </ul>

  <div class="sidebar-footer">
    <div class="user-profile">
      <div class="avatar"></div>
      <div class="user-info">
        <span class="user-name">Test</span>
      </div>
    </div>
  </div>
</nav>
