.main-container {
  margin-left: 260px;
  padding: 1em;
  display: flex;
}

.budgets-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-color: white;
  border-radius: 0 0 12px 12px;
  gap: 10px;
}

@media (max-width: 768px) {
  .main-container {
    margin-left: 0;
    padding: 1em;
  }

  .budgets-container {
    display: flex;
    flex-direction: column;
  }
}
